:root {
  scroll-behavior: smooth;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 960px!important;
  --homepage-width: 960px;
}

.home .hero .actions {
  display: grid;
  //grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px;
  grid-auto-rows: 60px;

  a.nav-link {
    width: 150px;
    font-size: 20px;
    height: 60px;
    box-sizing: border-box;
    margin-left: 0 !important;
    transition: all .3s ease-in;
  }

  a.action-button:hover {
    transform: scale(1.05);
  }
}

.theme-default-content {
  p, ul {
    font-size: 17px;
  }
}
